body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, object, iframe, pre, code, p, blockquote, form, fieldset, legend, table, th, td, caption, tbody, tfoot, thead, article, aside, figure, footer, header, hgroup, menu, nav, section, audio, video, canvas,input[type="text" i]  {
  margin: 0;
  padding: 0;
}
article, aside, figure, figcaption, footer, h1, h2, h3, h4, h5, h6, header, hgroup, menu, nav, section {
  display: block;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
}

a:link, a:visited {
  text-decoration: none;
}

a:hover, a:active {
  text-decoration: none;
}

/* 基本設定 */
html{
  font-size:10px;
}
body{
min-height: 100vh;
font-size: 1rem;
min-width: 100vw;
padding: 0;
margin: 0;
background-color:#F7F3F3;
letter-spacing: 2px;
}

h2{
  font-size: 2rem;
  margin:3vh 0;
}

a{
  color:#000;
}
    /* loading */

    .op-loading { /* ローディング画面の背景 */
      position: fixed;
      width: 100vw;
      height: 100vh;
      top: 0px;
      left: 0px;
      background: rgba(255, 255, 255,1);
      z-index: 9999;
      }

      .spinner {
      position: absolute;
      top: 50%;
      left: 50%;
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      width: 20px;
      height: 20px;
      background-color: #000;
      margin: 100px auto;
      -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
      animation: sk-rotateplane 1.2s infinite ease-in-out;
       }

       @-webkit-keyframes sk-rotateplane {
       0% { -webkit-transform: perspective(120px) }
       50% { -webkit-transform: perspective(120px) rotateY(180deg) }
       100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
      }

     @keyframes sk-rotateplane {
    0% {
      transform: perspective(120px) rotateX(0deg) rotateY(0deg);
      -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
    } 50% {
      transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
      -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
    } 100% {
      transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
      -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    }
     }

.splashbg{
  display: none;
}

body.appear .splashbg{
  display: block;
  content: "";
  position:fixed;
z-index: 999;
  width: 100%;
  height: 100vh;
  top: 0;
left: 0;
  transform: scaleY(0);
  background-color: #333;
animation-name:PageAnime;
animation-duration:1.2s;
animation-timing-function:ease-in-out;
animation-fill-mode:forwards;
}

@keyframes PageAnime{
0% {
  transform-origin:bottom;
  transform:scaleY(0);
}
50% {
  transform-origin:bottom;
  transform:scaleY(1);
}
50.001% {
  transform-origin:top;
}
100% {
  transform-origin:top;
  transform:scaleY(0);
}
}

#container{
opacity: 0;/*はじめは透過0に*/
}

body.appear #container{
animation-name:PageAnimeAppear;
animation-duration:1s;
animation-delay: 0.8s;
animation-fill-mode:forwards;
opacity: 0;
}

@keyframes PageAnimeAppear{
0% {
opacity: 0;
}
100% {
opacity: 1;
}
}

.zoomOut{
  animation-name:zoomOutAnime;
  animation-duration:0.7s;
  animation-fill-mode:forwards;
  animation-timing-function: ease;
}

@keyframes zoomOutAnime{
  from {
  opacity: 0.3;
  transform: scale(1.05);
  }

  to {
  transform:scale(1);
  opacity: 1;
  }
}


div.notice {
  background-color: #000;
  font-size: 12px;
  padding: 10px 0px;
  display:flex;
  justify-content: center;
  align-items:center;

}
div.notice p{
 color: #fff;

}

.fadeUp{
  animation-name:fadeUpAnime;
  animation-duration:0.7s;
  animation-fill-mode:forwards;
  animation-timing-function:ease-in-out;
  opacity:0;
  }

  @keyframes fadeUpAnime{
    from {
      opacity: 0;
    transform: translateY(50px);
    }

    to {
      opacity: 1;
    transform: translateY(0);
    }
  }

.bgextend{
  animation-name:bgextendAnimeBase;
  animation-duration:1s;
  animation-fill-mode:forwards;
  position: relative;
  overflow: hidden;
  opacity:0;
}

@keyframes bgextendAnimeBase{
  from {
    opacity:0;
  }

  to {
    opacity:1;
}
}

/*中の要素*/
.bgappear{
  animation-name:bgextendAnimeSecond;
  animation-duration:1s;
  animation-delay: 0.6s;
  animation-fill-mode:forwards;
  opacity: 0;
}

@keyframes bgextendAnimeSecond{
  0% {
  opacity: 0;
  }
  100% {
  opacity: 1;
}
}

/*左から右*/
.bgLRextend::before{
  animation-name:bgLRextendAnime;
  animation-duration:1s;
  animation-fill-mode:forwards;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #fff;/*伸びる背景色の設定*/
}

div.base_icon div span.bgLRextend::before,
h2 span.bgLRextend::before{
  animation-name:bgLRextendAnime;
  animation-duration:1s;
  animation-fill-mode:forwards;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000;/*伸びる背景色の設定*/
}

@keyframes bgLRextendAnime{
  0% {
    transform-origin:left;
    transform:scaleX(0);
  }
  50% {
    transform-origin:left;
    transform:scaleX(1);
  }
  50.001% {
    transform-origin:right;
  }
  100% {
    transform-origin:right;
    transform:scaleX(0);
  }
}

.bgappearTrigger,
.bgLRextendTrigger{
    opacity: 0;
}

.zoomIn img{
  transform: scale(1);
  transition: .3s ease-in-out;
}

.zoomIn a:hover img{
  opacity: 0.7;
  transform: scale(1.03);
}

/*画像のマスク*/
.mask{
    display: block;
    line-height: 0;/*行の高さを0にする*/
    overflow: hidden;/*拡大してはみ出る要素を隠す*/
}
.swiper-container {
  width: 46vw;
  height: 290px;
  overflow: hidden;
}

.swiper-wrapper {
  width: 46vw;
  height: 250px;
  overflow: visible;
}

.swiper-slide img{
  width: 400px;
  height: 250px;
  object-fit: cover;
}

div.swiper-slide{
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 2px 4px 10px rgb(0 0 0 / 25%);
}

div.features a div span img{
  width: 46vw;
}

  /*テキスト入力input設定*/
  #search-text{
    -webkit-appearance:none;/*SafariやChromeのデフォルトの設定を無効*/
    border: none;
    background:rgb(255, 255, 255) url("https://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/7-2-3/img/icon_search.svg") no-repeat 17px center;/*虫眼鏡アイコンを背景に表示*/
    background-size: 15px 15px;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    }

    #search-wrap:hover{
     opacity: 0.7;
    }

    .category_menu a:hover{
      opacity: 0.4;
      background:#ccc;
    }
    .category_menu a{
      transition: 0.3s;
    }

    ul.category_menu li{
      position: relative;
    }

    ul.category_menu li.has-child::before{
      content:'';
      position: absolute;
      right:30px;
      top:20px;
      width:6px;
      height:6px;
      border-top: 2px solid #999;
      border-right:2px solid #999;
      -webkit-transform: translate(-50%, -50%) rotate(45deg);
      transform: translate(-50%, -50%) rotate(45deg);
    }

    ul.category_menu ul li.has-child::before{
      content:'';
      position: absolute;
      right:50px;
      top:15px;
      width:6px;
      height:6px;
      border-top: 2px solid #999;
      border-right:2px solid #999;
      -webkit-transform: translate(-50%, -50%) rotate(45deg);
      transform: translate(-50%, -50%) rotate(45deg);
    }

    .category_menu ul{
      display:none;
    }

    ul.category_menu ul.active{
      display:block;
    }

    ul.category_menu li.has-child.active::before{
      -webkit-transform: translate(-50%, -50%) rotate(135deg);
      transform: translate(-50%, -50%) rotate(135deg);
    }

    ul.category_menu > li > a{
      display: block;
      padding: 1vh 1vw;
      font-size: 1.5rem;
    }

    ul.category_menu > li > ul > li a{
      display: block;
      padding: 1vh 1.5vw;
      font-size: 1.2rem;
    }

    ul.category_menu > li > ul > li > ul > li a{
      display: block;
      padding: 1vh 2vw;
      font-size: 1.2rem;
    }


@media only screen and (min-width: 641px) {
body div#container {
  display: grid;
  grid-template:
    "... ...... ...... ...... ...... ...... ...... ..."
    "... header header header header header header ..." 50vh
    "... ...... ...... ...... ...... ...... ...... ..." 40vh
    "... ...... left   ...... center center ...... ..." 1fr
    "... ...... ...... ...... ...... ...... ...... ..." 4vh
    "... footer footer footer footer footer footer ..." 10vh
    "... ...... ...... ...... ...... ...... ...... ..."
    / auto 10vw 1fr 5vw 1fr 1fr 10vw auto;
}

header {
  grid-area: header;
}
header div.h_container {
  display: grid;
  grid-template:
      "... ...... ...... ...... ...... ...... ......  ...... ..."
      "... notice notice notice notice notice notice  notice ..." 30px
      "... ...... ...... ...... ...... ...... ......  ...... ..." 10vh
      "... ...... h_logo ...... h_nav  h_nav  h_icon  ...... ..." 50px
      "... ...... ...... ...... ...... ...... ......  ...... ..."
    / auto 10vw 0.5fr 1fr 1fr 1fr 1fr 10vw auto;
}
header div.h_container > div.notice{
  grid-area: notice;
}
header div.h_container > div.notice p{
  text-align: center;
}

header div.h_container > div.mv{
  position: absolute;
  top: 0;
  left: 0;
  z-index: -100;
  width: 100vw;
  height:80vh;
}

header div.h_container > div.mv img{
  width: 100vw;
  height:80vh;
  object-fit: cover;
}

header div.h_container > div.logo{
  grid-area: h_logo;
  display:flex;
  align-items:center;
}


header div.h_container > div.logo h1 img{
 max-width: 20vw;
 max-height: 10vw;
}

header div.h_container > div.menu_btn{
  display: none;
}


header div.h_container > nav.h_nav{
  grid-area: h_nav;
  display: flex;
  justify-content:space-between;
}

header div.h_container > nav.h_nav ul{
  display: flex;
  align-items:center;
}

nav.h_nav ul li {
  margin-right: 2vw;
}

nav.h_nav ul li a{
  color: #fff;
}

header div.h_container > div.base_icon {
  grid-area: h_icon;
  display: flex;
  align-items:center;
  justify-content: flex-end;
}

header div.h_container > div.base_icon div{
  margin-left: 2vw;
}

header div.h_container > div.base_icon div span{
  display: block;
  width: 4vw;
  height: 4vw;
  background-color: #fff;
  border-radius: 50%;
}


header div.h_container > div.base_icon div span a{
  display: block;
}

.scrolldown{
display: flex;
justify-self: center;
position:absolute;
right:5vw;
top:65vh;
height:100px;
-webkit-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
}

.scrolldown span{
  position:absolute;
    top: -50px;
color: #eee;
-ms-writing-mode: tb-rl;
writing-mode: vertical-rl;
}

/* 線の描写 */
.scrolldown::after{
content: "";
position: absolute;
top: 0;
left: 8px;
width: 1px;
height: 200px;
background: #eee;
animation: pathmove 1.4s ease-in-out infinite;
opacity:0;
}

@keyframes pathmove{
0%{
  height:0;
  top:0;
  opacity: 0;
}
30%{
  height:60px;
  opacity: 1;
}
100%{
  height:0;
  top:100px;
  opacity: 0;
}
}

nav.sidebar {
  grid-area: left;
}

#search-text{
max-width: 300px;
width: 20vw;
height: 0.5vh;
padding: 20px 50px;
}

.side_banner{
 object-fit: cover;
 margin: 1vw 0;
}

main {
  grid-area: center;
}

footer {
  grid-area: footer;
}

footer div.f_container {
  display: grid;
  grid-template:
      "... ...... ...... ...... ...... ...... ......  ...... ..."
      "... ...... f_logo ...... f_nav  f_nav  f_nav   ...... ..." 50px
      "... ...... ...... ...... ...... ...... ......  ...... ..."
    / auto 10vw 1fr 0.5fr 1fr 1fr 1fr 10vw auto;
}

footer div.f_container > div.f_logo{
  grid-area: f_logo;
}

footer div.f_container > nav.f_nav{
  grid-area: f_nav;
  display: flex;
  justify-content:space-between;
  align-items:center;
}

footer div.copylight{
  display: flex;
  justify-content:center;
}

}

@media (max-width: 640px) {
  body div#container {
    display: grid;
    grid-template:
    "... ....... ...... ...... ..."
    "... header  header header ..." 100px
    "... ....... ...... ...... ..." 90vh
    "... ....... left   ...... ..." 1fr
    "... ....... ...... ...... ..."
    "... ....... center ...... ...." 1fr
    "... ....... ...... ...... ..."
    "... footer  footer footer ..." 150px
    "... ....... ...... ...... ..."
    / auto 3vw 1fr 3vw auto;
  }

  header {
    grid-area: header;
  }
  header div.h_container {
    display: grid;
    grid-template:
        "... ...... ...... ...... ...... ...... ......  ...... ..."
        "... notice notice notice notice notice notice  notice ..." 30px
        "... ...... ...... ...... ...... ...... ......  ...... ..." 5vh
        "... ...... button ...... h_logo ...... h_icon  ...... ..." 50px
        "... ...... ...... ...... ...... ...... ......  ...... ..."
      / auto 3vw 1fr 1fr 1fr 1fr 1fr 3vw auto;
  }

  header div.h_container > div.notice{
    grid-area: notice;
    display: flex;
    justify-content:center;
  }

  header div.h_container > div.logo{
    grid-area: h_logo;
    display:flex;
    justify-content: center;
    align-items:center;
  }

  header div.h_container > div.logo h1 img{
    max-width: 40vw;
    max-height: 30vw;
   }

   .menu_btn,
   .menu_btn span {
    transition: all .4s;
    box-sizing: border-box;
   }

  header div.h_container > div.menu_btn{
    grid-area: button;
    display:flex;
    justify-content: center;
    align-items:center;
  }

  header div.h_container > div.base_icon{
    grid-area: h_icon;
    display:flex;
    justify-content: center;
    align-items:center;
    display: box;
  }

  header div.h_container > div.base_icon div{
    margin-left: 2vw;
  }
  header div.h_container > div.base_icon div span{
    display: block;
    width: 7vw;
    height: 7vw;
    background-color: #fff;
    border-radius: 50%;
  }

  header div.h_container > div.mv{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -100;
    width: 100vw;
    height:90vh;
  }

  header div.h_container > div.mv img{
    width: 100vw;
    height:90vh;
    object-fit: cover;
  }

  .menu_btn_inner {
    display: block;
    width: 40px;
    height: 12px;
    background: none;
    border: none;
    appearance: none;
    cursor: pointer;
    position: relative;
    z-index: 10000;
    }

    .menu_btn_inner span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #fff;
    border-radius: 2px;
    }

    .menu_btn_inner span:nth-of-type(1) {
    top: 0;
    }
    .menu_btn_inner span:nth-of-type(2) {
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    }
    .menu_btn_inner span:nth-of-type(3) {
    bottom: 0;
    }

    .menu_btn_inner.active span:nth-of-type(1) {
    transform: translateY(5.5px) rotate(-315deg);
    }
    .menu_btn_inner.active span:nth-of-type(2) {
    width: 40px;
    height: 40px;
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid #fff;
    }
    .menu_btn_inner.active span:nth-of-type(3) {
    transform: translateY(-5.5px) rotate(315deg);
    }

  header div.h_container > nav.h_nav{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width:calc(100% - 10vh);
    padding: 5vh;
    display: none;
    background-color: #000;
  }

  header div.h_container > nav.h_nav.active{
  display: block;
  }
  nav.h_nav ul li{
    text-align: center;
  }

  nav.h_nav ul li span a{
    font-size: 1.5rem;
    color: #fff;
    display: block;
    padding: 10px;
    margin: 50px;
  }

  .scrolldown{
    display: flex;
    justify-self: center;
    position:absolute;
    right:5vw;
    top:75vh;
    height:100px;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    }

    .scrolldown span{
    position:absolute;
    top: -50px;
    color: #eee;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    }

    /* 線の描写 */
    .scrolldown::after{
    content: "";
    position: absolute;
    top: 0;
    left: 8px;
    width: 1px;
    height: 200px;
    background: #eee;
    animation: pathmove 1.4s ease-in-out infinite;
    opacity:0;
    }

    @keyframes pathmove{
    0%{
      height:0;
      top:0;
      opacity: 0;
    }
    30%{
      height:60px;
      opacity: 1;
    }
    100%{
      height:0;
      top:100px;
      opacity: 0;
    }
    }
  nav.sidebar {
    grid-area: left;
  }

  /*テキスト入力input設定*/
#search-text{
  width: calc(100vw - 6vw - 100px);
  height: 0.5vh;
  padding: 20px 50px;
  }

  main {
    margin-top: 5vh;
    grid-area: center;
  }

  footer {
    grid-area: footer;
  }
  footer > div.f_container{
    margin: 0 auto;
    text-align:center;
  }
  footer > div.f_container > nav.f_nav > div.foreign_currency{
    display: flex;
    justify-content: center;
    align-items:center;
  }

  footer > div.f_container > nav.f_nav > div.sns{
    display: flex;
    justify-content: center;
    align-items:center;
  }
  footer > div.copylight{
    margin: 0 auto;
    text-align:center;
  }

  }

